.guppy-ask-to-login-banner {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    background-color: rgb(0 0 0 / 80%);
    color: #fff;
}

.guppy-ask-to-login-banner .main {
    position: relative;
    padding: 10px;
    min-height: 50px;
    overflow: hidden;
    box-sizing: border-box;
}

.guppy-ask-to-login-banner .text {
    margin-right: 40px;
}

.guppy-ask-to-login-banner .text .message {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.guppy-ask-to-login-banner .main .remove {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 30px;
    padding: 0 15px;
    border-left: solid 2px rgb(255 255 255 / 80%);
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
